html,
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  color: #626262;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #b4ad9e;
}

a:hover {
  color: #898377;
}

h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 576px) {
  .post-container {
    padding-bottom: 50px !important;
  }
}

@media only screen and (max-width: 575px) {
  .footer-left {
    margin-bottom: 15px;
  }
  .singl-post .post-text {
    margin-bottom: 30px;
  }
  .singl-post .post-title {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  .singl-post .post-text {
    font-size: 12px;
    line-height: 1.4rem;
    letter-spacing: 0.5px;
  }
  .form-post {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .lab-post_form {
    font-size: 20px !important;
    margin-bottom: 50px !important;
  }
  .bg-light {
    margin-bottom: 30px;
  }
  .post-title {
    margin-bottom: 25px !important;
  }
  .grid-post .title-post {
    margin-top: 12px !important;
    margin-bottom: 20px !important;
  }
  .marg {
    margin-bottom: 50px !important;
  }
  .sing-photo {
    margin-bottom: 30px !important;
  }
  p.text-italic {
    margin-bottom: 20px !important;
  }
}

@media only screen and (max-width: 768px) {
  .grid-post .card {
    margin-bottom: 50px !important;
  }
}

@media only screen and (max-width: 991px) {
  header .nav-item {
    margin-left: 0 !important;
  }
}

header .navbar {
  padding-left: 0;
  padding-right: 0;
}

header .navbar-toggler {
  outline: none;
}

header .bg-light {
  background-color: #ffffff !important;
}

header .navbar-brand {
  font-size: 30px;
  font-family: 'Inconsolata', monospace;
  color: #000000 !important;
  text-transform: uppercase;
}

header .nav-item {
  text-transform: uppercase;
  margin-left: 50px;
}

header .nav-item a::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #cccccc;
  height: 1px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .nav-item a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.marg {
  margin-bottom: 100px;
}

.post-container {
  padding-bottom: 100px;
}

.post-category,
.link-post {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #b4ad9e;
  text-transform: uppercase;
  font-weight: 300;
}

.post-title {
  margin-bottom: 40px;
}

.post-title a {
  color: #626262;
}

.post-text {
  line-height: 1.7rem;
  margin-bottom: 50px;
}

.post-category {
  margin-bottom: 30px;
}

.card {
  border: 0;
  margin-bottom: 100px;
}

.title-post {
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 14px;
  margin-bottom: 29px;
  color: #c8c3b9;
}

.load-more {
  padding: 1rem 2rem;
  border-color: #626262;
  border-radius: 0;
  font-size: 20px;
}

.load-more span {
  display: none;
}

.grid-post {
  margin-bottom: 100px;
}

.form-post {
  display: block;
  width: 100%;
  padding: 70px 0;
  background-color: #f0f0f0;
  margin-bottom: 100px;
}

.lab-post_form {
  font-family: 'Playfair Display Regular', sans-serif;
  font-size: 30px;
  color: #333333;
  margin-bottom: 80px;
}

.post-form {
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid black;
  border-radius: 0px;
}

.post-form:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.post-form:active {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-center {
  display: block;
}

.form-iput {
  position: relative;
}

.form-input .btn {
  position: absolute;
  right: 0;
  top: -5px;
  font-size: 25px;
}

footer {
  background-color: #f0f0f0;
  padding-top: 40px;
  padding-bottom: 45px;
  color: #000000;
}

footer .footer-left a {
  color: #000;
  margin-right: 20px;
}

footer .footer-right a {
  coloro: #626262;
  margin-left: 20px;
}

footer .footer-right a:hover {
  text-decoration: none;
}

.header-img {
  margin-top: 50px;
  margin-bottom: 90px;
}

.sing-photo {
  margin-bottom: 60px;
}

p.text-italic {
  font-family: 'Playfair Display', sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-left: 20px;
  letter-spacing: .5px;
}

.share {
  font-family: "Ubuntu Light", sans-serif;
  font-size: 13px;
  color: #bfb9ad;
  margin-right: 15px;
  text-transform: uppercase;
}

.link-share {
  margin-right: 10px;
}

.link-share:last-child {
  margin-right: 0;
}

.also {
  display: block;
  width: 100%;
  background-color: #f5f5f5;
  padding-top: 70px;
  padding-bottom: 90px;
  margin-top: 75px;
}

.also .card {
  background-color: transparent !important;
}

.also .card-body {
  padding: 0;
  padding-top: 25px;
}

.also .also-title {
  font-size: 20px;
  color: #626262;
}

.also .also-head .also-title {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Ubuntu Light", sans-serif;
  color: #d6d3cc;
  margin-bottom: 40px;
}
/*# sourceMappingURL=style.css.map */