.card {
	border: 0;
	margin-bottom: 100px;
}

.title-post {
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Ubuntu', sans-serif;
	margin-top: 14px;
	margin-bottom: 29px;
	color: #c8c3b9;
}

.load-more {
	padding: 1rem 2rem;
	border-color: #626262;
	border-radius: 0;
	font-size: 20px;
}

.load-more span {
	display: none;
}
.grid-post{
	margin-bottom: 100px;
}